
<h2><strong>ML Assignment-01</strong></h2>
<h4>Group_VRS</h4>
<h4>Members:</h4>
<table style="border-collapse: collapse; width: 100%; height: 72px;" border="1">
<tbody>
<tr style="height: 18px; background-color: blue;">
<td style="width: 50%; height: 18px; text-align: left;"><span style="color: #ffffff;"><strong>Name</strong></span></td>
<td style="width: 50%; height: 18px; text-align: left;"><span style="color: #ffffff;"><strong>BITS ID</strong></span></td>
</tr>
<tr style="height: 18px;">
<td style="width: 50%; height: 18px; text-align: left;">Rahul Khandpur</td>
<td style="width: 50%; height: 18px; text-align: left;">2022OG04037</td>
</tr>
<tr style="height: 18px;">
<td style="width: 50%; height: 18px; text-align: left;">Vaibhav Vig</td>
<td style="width: 50%; height: 18px; text-align: left;">2022OG04038</td>
</tr>
<tr style="height: 18px;">
<td style="width: 50%; height: 18px; text-align: left;">Sumanta Kumar Patel</td>
<td style="width: 50%; height: 18px; text-align: left;">2022OG04032</td>
</tr>
</tbody>
</table>
<p><strong>Project Description: </strong></p>
<p>Using Decission Tree Model we tried to predict the housing price in Melbourn State.</p>
<p>&nbsp;</p>

In [1]:
import pandas as pd

# Path of the file to read
file_path = 'melb_data.csv'

# Fill in the line below to read the file into a variable home_data
melbourne_data = pd.read_csv(file_path)

In [2]:
#Summerizing the stastics of dataset
print(melbourne_data.describe())

              Rooms         Price      Distance      Postcode      Bedroom2  \
count  13580.000000  1.358000e+04  13580.000000  13580.000000  13580.000000
mean       2.937997  1.075684e+06     10.137776   3105.301915      2.914728
std        0.955748  6.393107e+05      5.868725     90.676964      0.965921
min        1.000000  8.500000e+04      0.000000   3000.000000      0.000000
25%        2.000000  6.500000e+05      6.100000   3044.000000      2.000000
50%        3.000000  9.030000e+05      9.200000   3084.000000      3.000000
75%        3.000000  1.330000e+06     13.000000   3148.000000      3.000000
max       10.000000  9.000000e+06     48.100000   3977.000000     20.000000

           Bathroom           Car       Landsize  BuildingArea    YearBuilt  \
count  13580.000000  13518.000000   13580.000000   7130.000000  8205.000000
mean       1.534242      1.610075     558.416127    151.967650  1964.684217
std        0.691712      0.962634    3990.669241    541.014538    37.273762
min        0.000000      0.000000       0.000000      0.000000  1196.000000
25%        1.000000      1.000000     177.000000     93.000000  1940.000000
50%        1.000000      2.000000     440.000000    126.000000  1970.000000
75%        2.000000      2.000000     651.000000    174.000000  1999.000000
max        8.000000     10.000000  433014.000000  44515.000000  2018.000000

          Lattitude    Longtitude  Propertycount
count  13580.000000  13580.000000   13580.000000
mean     -37.809203    144.995216    7454.417378
std        0.079260      0.103916    4378.581772
min      -38.182550    144.431810     249.000000
25%      -37.856822    144.929600    4380.000000
50%      -37.802355    145.000100    6555.000000
75%      -37.756400    145.058305   10331.000000
max      -37.408530    145.526350   21650.000000

In [3]:
# Checking the missing values
melbourne_data.isnull().sum()

Suburb              0
Address             0
Rooms               0
Type                0
Price               0
Method              0
SellerG             0
Date                0
Distance            0
Postcode            0
Bedroom2            0
Bathroom            0
Car                62
Landsize            0
BuildingArea     6450
YearBuilt        5375
CouncilArea      1369
Lattitude           0
Longtitude          0
Regionname          0
Propertycount       0
dtype: int64

In [4]:

# dropna drops missing values (think of na as "not available")
melbourne_data = melbourne_data.dropna(axis=0)
print(melbourne_data.describe())

             Rooms         Price     Distance     Postcode     Bedroom2  \
count  6196.000000  6.196000e+03  6196.000000  6196.000000  6196.000000
mean      2.931407  1.068828e+06     9.751097  3101.947708     2.902034
std       0.971079  6.751564e+05     5.612065    86.421604     0.970055
min       1.000000  1.310000e+05     0.000000  3000.000000     0.000000
25%       2.000000  6.200000e+05     5.900000  3044.000000     2.000000
50%       3.000000  8.800000e+05     9.000000  3081.000000     3.000000
75%       4.000000  1.325000e+06    12.400000  3147.000000     3.000000
max       8.000000  9.000000e+06    47.400000  3977.000000     9.000000

          Bathroom          Car      Landsize  BuildingArea    YearBuilt  \
count  6196.000000  6196.000000   6196.000000   6196.000000  6196.000000
mean      1.576340     1.573596    471.006940    141.568645  1964.081988
std       0.711362     0.929947    897.449881     90.834824    38.105673
min       1.000000     0.000000      0.000000      0.000000  1196.000000
25%       1.000000     1.000000    152.000000     91.000000  1940.000000
50%       1.000000     1.000000    373.000000    124.000000  1970.000000
75%       2.000000     2.000000    628.000000    170.000000  2000.000000
max       8.000000    10.000000  37000.000000   3112.000000  2018.000000

         Lattitude   Longtitude  Propertycount
count  6196.000000  6196.000000    6196.000000
mean    -37.807904   144.990201    7435.489509
std       0.075850     0.099165    4337.698917
min     -38.164920   144.542370     389.000000
25%     -37.855438   144.926198    4383.750000
50%     -37.802250   144.995800    6567.000000
75%     -37.758200   145.052700   10175.000000
max     -37.457090   145.526350   21650.000000

<div>The columns that are inputted into our model (and later used to make predictions) are called "features." </div>

In [5]:
# Choosing Features
# Exploratory Data Analysis
# Corelation between independent features

corr_attribute = ['Rooms', 'Bathroom', 'Bedroom2','Landsize', 'Car','BuildingArea','YearBuilt','Distance', 'Postcode','Lattitude', 'Longtitude','Price']
corr_data = melbourne_data[corr_attribute]
corr_data.head()
corr_data.corr()

,Rooms,Bathroom,Bedroom2,Landsize,Car,BuildingArea,YearBuilt,Distance,Postcode,Lattitude,Longtitude,Price
Rooms,1.000000,0.613853,0.951793,0.098755,0.422526,0.608215,-0.068122,0.283885,0.051237,0.016049,0.088031,0.533505
Bathroom,0.613853,1.000000,0.617751,0.076295,0.340808,0.534425,0.157820,0.124530,0.109804,-0.072020,0.116103,0.503922
Bedroom2,0.951793,0.617751,1.000000,0.097172,0.425726,0.593000,-0.056343,0.290242,0.053770,0.021309,0.085895,0.514561
Landsize,0.098755,0.076295,0.097172,1.000000,0.117647,0.084825,0.026518,0.059369,0.025807,0.005610,0.032918,0.081419
Car,0.422526,0.340808,0.425726,0.117647,1.000000,0.334282,0.108714,0.273615,0.043713,0.011973,0.054699,0.261507
BuildingArea,0.608215,0.534425,0.593000,0.084825,0.334282,1.000000,0.005836,0.159603,0.078483,-0.037904,0.103613,0.530574
YearBuilt,-0.068122,0.157820,-0.056343,0.026518,0.108714,0.005836,1.000000,0.246291,0.024375,0.057108,-0.002114,-0.304633
Distance,0.283885,0.124530,0.290242,0.059369,0.273615,0.159603,0.246291,1.000000,0.405729,-0.094494,0.221861,-0.148867
Postcode,0.051237,0.109804,0.053770,0.025807,0.043713,0.078483,0.024375,0.405729,1.000000,-0.425172,0.471305,0.125539
Lattitude,0.016049,-0.072020,0.021309,0.005610,0.011973,-0.037904,0.057108,-0.094494,-0.425172,1.000000,-0.357988,-0.213574
Longtitude,0.088031,0.116103,0.085895,0.032918,0.054699,0.103613,-0.002114,0.221861,0.471305,-0.357988,1.000000,0.211760
Price,0.533505,0.503922,0.514561,0.081419,0.261507,0.530574,-0.304633,-0.148867,0.125539,-0.213574,0.211760,1.000000

In [6]:
# Dependent Feature - the prediction target is called y.
y = melbourne_data.Price
print(y)

1        1035000.0
2        1465000.0
4        1600000.0
6        1876000.0
7        1636000.0
           ...
12205     601000.0
12206    1050000.0
12207     385000.0
12209     560000.0
12212    2450000.0
Name: Price, Length: 6196, dtype: float64

In [7]:
# Independent Features
#We select multiple features by providing a list of column names inside brackets. Each item in that list should be a string (with quotes).
melbourne_features = ['Rooms', 'Bathroom', 'Landsize', 'Lattitude', 'Longtitude']
X = melbourne_data[melbourne_features]
print(X.describe())
X.head()

             Rooms     Bathroom      Landsize    Lattitude   Longtitude
count  6196.000000  6196.000000   6196.000000  6196.000000  6196.000000
mean      2.931407     1.576340    471.006940   -37.807904   144.990201
std       0.971079     0.711362    897.449881     0.075850     0.099165
min       1.000000     1.000000      0.000000   -38.164920   144.542370
25%       2.000000     1.000000    152.000000   -37.855438   144.926198
50%       3.000000     1.000000    373.000000   -37.802250   144.995800
75%       4.000000     2.000000    628.000000   -37.758200   145.052700
max       8.000000     8.000000  37000.000000   -37.457090   145.526350

   Rooms  Bathroom  Landsize  Lattitude  Longtitude
1      2       1.0     156.0   -37.8079    144.9934
2      3       2.0     134.0   -37.8093    144.9944
4      4       1.0     120.0   -37.8072    144.9941
6      3       2.0     245.0   -37.8024    144.9993
7      2       1.0     256.0   -37.8060    144.9954

<h4>Building the Model</h4>
<p>We are using DecisionTree from <strong>scikit-learn</strong> library.</p>
<div><strong>Fit:</strong> Capture patterns from provided data. This is the heart of modeling.</div>
<div><strong>Predict:</strong> Predicting the dependent value.</div>
<div><strong>Evaluate:</strong> Determine how accurate the model's predictions are.</div>
<div>&nbsp;</div>

<h3 id="The-Problem-with-&quot;In-Sample&quot;-Scores"><span style="background-color: #000080; color: #ffffff;">The Problem with "In-Sample" Scores</span></h3>
<p>The measure we just computed can be called an "in-sample" score. We used a single "sample" of houses for both building the model and evaluating it. Here's why this is bad.</p>
<p>Imagine that, in the large real estate market, door color is unrelated to home price.</p>
<p>However, in the sample of data you used to build the model, all homes with green doors were very expensive. The model's job is to find patterns that predict home prices, so it will see this pattern, and it will always predict high prices for homes with green doors.</p>
<p>Since this pattern was derived from the training data, the model will appear accurate in the training data.</p>
<p>But if this pattern doesn't hold when the model sees new data, the model would be very inaccurate when used in practice.</p>
<p>Since models' practical value come from making predictions on new data, we measure performance on data that wasn't used to build the model. The most straightforward way to do this is to exclude some data from the model-building process, and then use those to test the model's accuracy on data it hasn't seen before. This data is called&nbsp;<strong>validation data</strong>.</p>

In [8]:
from sklearn.model_selection import train_test_split

# split data into training and validation data, for both features and target
# The split is based on a random number generator. Supplying a numeric value to
# the random_state argument guarantees we get the same split every time we
# run this script.
train_X, val_X, train_y, val_y = train_test_split(X, y, test_size=0.3,random_state = 0)

#Validate the shapes of Training and Validation data
print("Training and Validation data are as below")
print(train_X.shape, val_X.shape, train_y.shape, val_y.shape)
print("***************************************************************")

Training and Validation data are as below
(4337, 5) (1859, 5) (4337,) (1859,)
***************************************************************

In [9]:
from sklearn.tree import DecisionTreeRegressor
# Define model - DecisionTree
melbourne_model = DecisionTreeRegressor().fit(train_X, train_y)
# Fit model
#melbourne_model.fit(train_X, train_y)

Important Matrixes for the model

In [10]:
#Cofficient of determination
print('The training r_sq is: %.2f'% melbourne_model.score(train_X,train_y))

The training r_sq is: 1.00

Predictions on Training Data

In [11]:

from sklearn.metrics import mean_absolute_error, mean_squared_error, explained_variance_score, r2_score
import numpy as np


## Prediction on Trainig dataset
train_y_predict = melbourne_model.predict(train_X)
print("TRAINING DATA PREDICTIONS \n*********************************")
## The r_sq
print('The r2_sq is: ', r2_score(train_y,train_y_predict))

## Mean absolute Error on training data
print('The MAE is: ', mean_absolute_error(train_y, train_y_predict) )

## Mean Square Error on training data
print('The MSE is: ', mean_squared_error(train_y, train_y_predict))

## Root Mean square Error
print('The RMSE is: ', np.sqrt(mean_squared_error(train_y,train_y_predict)))

## The Explained Variance Score
print('The EVS is: ', explained_variance_score(train_y, train_y_predict))

TRAINING DATA PREDICTIONS
*********************************
The r2_sq is:  0.9997742552179427
The MAE is:  773.5762047498271
The MSE is:  94204941.9721774
The RMSE is:  9705.923035558102
The EVS is:  0.9997742552179427

Predictions on Validation data

In [12]:
#Cofficient of determination
print('The validation r_sq is: %.2f'% melbourne_model.score(val_X,val_y))

## Predictions on Validation data
val_y_predict = melbourne_model.predict(val_X)
print("VALIDATION DATA PREDICTIONS \n*********************************")
## The r_sq
print('The r2_sq is: ', r2_score(val_y,val_y_predict))

## Mean absolute Error on training data
print('The MAE is: ', mean_absolute_error(val_y, val_y_predict))

## Mean Square Error on training data
print('The MSE is: ', mean_squared_error(val_y, val_y_predict))

## Root Mean square Error
print('The RMSE is: ', np.sqrt(mean_squared_error(val_y,val_y_predict)))

## The Explained Variance Score
print('The EVS is: ', explained_variance_score(val_y, val_y_predict))

The validation r_sq is: 0.51
VALIDATION DATA PREDICTIONS
*********************************
The r2_sq is:  0.5091938037438619
The MAE is:  284511.40720817645
The MSE is:  267381459365.79498
The RMSE is:  517089.41138433205
The EVS is:  0.5096942945933907

In [13]:
# get predicted prices on validation data
val_predictions = melbourne_model.predict(val_X)
print("Average Price of house is: " + str(val_predictions.mean()))
print("Mean Absolute Error: ", mean_absolute_error(val_y, val_predictions))

Average Price of house is: 1074417.501165501
Mean Absolute Error:  284511.40720817645

<p><span style="background-color: #000080; color: #ffffff;"><strong>Solution</strong></span></p>
<p>There are a few alternatives for controlling the tree depth, and many allow for some routes through the tree to have greater depth than other routes. But the&nbsp;<em>max_leaf_nodes</em>&nbsp;argument provides a very sensible way to control overfitting vs underfitting. The more leaves we allow the model to make, the more we move from the underfitting area in the above graph to the overfitting area.</p>
<p>We can use a utility function to help compare MAE scores from different values for&nbsp;<em>max_leaf_nodes</em>:</p>

In [14]:
## Creating a function to get the MAE (Mean Absolute Error) for different values of max_leaf_node.
from sklearn.metrics import mean_absolute_error
from sklearn.tree import DecisionTreeRegressor

def get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y):
    model = DecisionTreeRegressor(max_leaf_nodes=max_leaf_nodes, random_state=0)
    model.fit(train_X, train_y)
    preds_val = model.predict(val_X)
    mae = mean_absolute_error(val_y, preds_val)
    return(mae)

In [15]:
for max_leaf_nodes in [5, 50, 100, 250, 500,1000,5000]:
    my_mae = get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y)
    print("Max leaf nodes: %d  \t\t Mean Absolute Error:  %d" %(max_leaf_nodes, my_mae))

Max leaf nodes: 5  		 Mean Absolute Error:  384083
Max leaf nodes: 50  		 Mean Absolute Error:  286309
Max leaf nodes: 100  		 Mean Absolute Error:  269750
Max leaf nodes: 250  		 Mean Absolute Error:  264515
Max leaf nodes: 500  		 Mean Absolute Error:  265267
Max leaf nodes: 1000  		 Mean Absolute Error:  271311

Max leaf nodes: 5000  		 Mean Absolute Error:  282250

Conclusion: - Prediction with max leaf node, 500 is giving good result

In [16]:
best_tree_size = 500

final_model = DecisionTreeRegressor(max_leaf_nodes=best_tree_size, random_state=1)

# fit the final model
final_model.fit(X, y)

print("Making predictions for the following 5 houses:")
print(X.head())
print("The predictions are")
print(final_model.predict(X.head()))

Making predictions for the following 5 houses:
   Rooms  Bathroom  Landsize  Lattitude  Longtitude
1      2       1.0     156.0   -37.8079    144.9934
2      3       2.0     134.0   -37.8093    144.9944
4      4       1.0     120.0   -37.8072    144.9941
6      3       2.0     245.0   -37.8024    144.9993
7      2       1.0     256.0   -37.8060    144.9954
The predictions are
[1078446.42857143 1246050.         1660600.         1410451.61290323
 1366469.375     ]

## New Data Prediction
Model is - final_model

In [17]:
melbourne_data[melbourne_features].iloc[0].shape

(5,)

In [18]:
test1 = melbourne_data[melbourne_features].iloc[1].values.reshape(1,-1)
test1

array([[  3.    ,   2.    , 134.    , -37.8093, 144.9944]])

In [19]:
final_model.predict(test1)

c:\Users\suman\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  warnings.warn(

array([1246050.])

## Pickling the model file for Deployment

In [20]:
import pickle

In [21]:
pickle.dump(final_model,open('dtModel.pkl','wb'))

In [22]:
pickle_model=pickle.load(open('dtModel.pkl','rb'))

In [23]:
pickle_model.predict(melbourne_data[melbourne_features].iloc[1].values.reshape(1,-1))

c:\Users\suman\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  warnings.warn(

array([1246050.])

For Practice Purpose